---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-tv
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sonarr-tv-secret
    template:
      data:
        SONARR__AUTH__APIKEY: "{{ .SONARR_TV_API_KEY }}"
  dataFrom:
    - extract:
        key: sonarr
