---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: qbittorrent-secret
    template:
      data:
        WIREGUARD_ENDPOINT_IP: "{{ .QBIT_ENDPOINT_IP }}"
        WIREGUARD_PUBLIC_KEY: "{{ .QBIT_WIREGUARD_PUBLIC_KEY }}"
        WIREGUARD_PRIVATE_KEY: "{{ .QBIT_WIREGUARD_PRIVATE_KEY }}"
        WIREGUARD_ADDRESSES: "{{ .QBIT_WIREGUARD_ADDRESSES }}"
        CROSS_SEED_API_KEY: "{{ .CROSS_SEED_API_KEY }}"
        CROSS_SEED_PORT: "{{ .CROSS_SEED_PORT }}"
        GLUETUN_CONTROL_SERVER_API_KEY: "{{ .GLUETUN_API_KEY }}"
  dataFrom:
    - extract:
        key: proton-vpn
    - extract:
        key: gluetun
    - extract:
        key: cross-seed
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent-gluetun
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: qbittorrent-gluetun-secret
    template:
      data:
        auth.toml: |
          [[roles]]
          name = "gluetun-qb-port-sync"
          routes = [
            "GET /v1/publicip/ip",
            "GET /v1/openvpn/portforwarded"
          ]
          auth = "apikey"
          apikey = "{{ .GLUETUN_API_KEY }}"
  dataFrom:
    - extract:
        key: gluetun
