{% for namespace in ["observability", "cert-manager", "external-secrets", "flux-system"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://home-ops/1password/OP_CREDENTIALS_JSON
  token: op://home-ops/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://home-ops/sops/SOPS_PRIVATE_KEY
